- Here is a sample line of code that can be executed in Python:
- print("Hello, World!")
- You can just as easily store a string as a variable and then print it to stdout:
- my_string = "Hello, World!"- nprint(my_string)
- The above code will print Hello, World! on your screen. Try it yourself in the editor below!
- Input Format
- You do not need to read any input in this challenge.
- Output Format
- Print Hello, World! to stdout.
- Sample Output 0
-Hello, World!

In [1]:
print("Hello, World!")

Hello, World!

- Task
- Given an integer, n, perform the following conditional actions:
- If n is odd, print Weird
- If n is even and in the inclusive range of  to , print Not Weird
- If n is even and in the inclusive range of  to , print Weird
- If n is even and greater than , print Not Weird

In [2]:
n = int(input().strip())
if (n % 2) != 0:
    print('Weird')
elif (n % 2) == 0:
    if (n >= 2) and (n <= 5):
        print('Not Weird')
    elif (n >= 6) and (n <= 20):
        print('Weird')
    elif (n > 20):
        print('Not Weird')

 5

Weird

- Task
- The provided code stub reads two integers from STDIN, a and b . Add code to print three lines where:

- The first line contains the sum of the two numbers.
- The second line contains the difference of the two numbers (first - second).
- The third line contains the product of the two numbers.

In [3]:
a = int(input())
b = int(input())
print(a+b)
print(a-b)
print(a*b)

 2
 4

6
-2
8

- The provided code stub reads two integers, a and b, from STDIN.
- Add logic to print two lines. The first line should contain the result of integer division,  // . The second line should contain the result of float division,  / .
- No rounding or formatting is necessary.

In [4]:
a = int(input())
b = int(input())
print(a//b)
print(a/b)

 1
 3

0
0.3333333333333333

- The provided code stub reads an integer,n , from STDIN. For all non-negative integers i < n, print i^2 .

In [5]:
n = int(input())
for i in range(0,n):
        print(i*i)

 4

0
1
4
9

- An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.
- In the Gregorian calendar, three conditions are used to identify leap years:
- The year can be evenly divided by 4, is a leap year, unless:
- The year can be evenly divided by 100, it is NOT a leap year, unless:
- The year is also evenly divisible by 400. Then it is a leap year.
- This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. Source
- Task
- Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.
- Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.

In [6]:
def is_leap(year):
    leap = False
    
    if (year % 4 == 0):
        if (year % 100 != 0) or (year % 400 == 0):
            leap = True
                
    
    return leap

In [8]:
is_leap(2009)

False

- Print the list of integers from 1 through n as a string, without spaces

In [13]:
n = int(input())
def stre(n):
    s=''
    for i in range(1,n+1):
        s = s+str(i)
        print(s)
stre(n)

 5

1
12
123
1234
12345